.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.status {
  font-size: 20px;
}
.statusBold {
  font-size: 25px;
}
